[submodule "static/milligram"]
	path = static/milligram
	url = https://github.com/milligram/milligram
[submodule "static/reveal.js"]
	path = static/reveal.js
	url = https://github.com/hakimel/reveal.js/
