[submodule "static/milligram"]
	path = static/milligram
	url = https://github.com/milligram/milligram
[submodule "static/cv"]
	path = static/cv
	url = https://github.com/sbihel/cv
[submodule "static/normalize.css"]
	path = static/normalize.css
	url = https://github.com/necolas/normalize.css/
