[submodule "static/milligram"]
	path = static/milligram
	url = https://github.com/milligram/milligram
[submodule "static/cv"]
	path = static/cv
	url = https://github.com/sbihel/cv
[submodule "static/internship_amplification"]
	path = static/internship_amplification
	url = https://github.com/sbihel/internship_amplification
