<!-- Google Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

<!-- CSS Reset -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">

<!-- Milligram CSS minified -->
{% load static %}
<link rel="stylesheet" href="{% static "milligram/dist/milligram.min.css" %}">

<link rel="stylesheet" href="{%  static "style.css" %}">

<section class="container">
<!-- Base font-size and line-height -->
<p>The base type is 1.6rem (16px) over 1.6 line height (24px)</p>

<!-- Other elements to text markup -->
<a>Anchor</a>
<em>Emphasis</em>
<small>Small</small>
<strong>Strong</strong>
<u>Underline</u>

<!-- Default Headings -->
<h1>Heading</h1>
<h2>Heading</h2>
<h3>Heading</h3>
<h4>Heading</h4>
<h5>Heading</h5>
<h6>Heading</h6>

<!-- The base font-size is set at 62.5% for having the convenience of sizing rems in a way that is similar to using px. So basically 1.6rem = 16px. -->

<blockquote>
    <p><em>Yeah!!</em></p>
</blockquote>

<!-- Functional Classes -->

<!-- Clear any float  -->
<div class="clearfix">

    <!-- Float either directions -->
    <div class="float-left"></div>
    hello
    <div class="float-right"></div>
    hello

</div>
</section>
