{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<header class="header" id="home">
    <section class="container">
        <h1 class="title">Simon Bihel</h1>
        <p class="description">Computer Science student</p>
    </section>
</header>

<section class="container">
    <div class="float-left">
        <img class="img" alt="personal photo" src="{% static "photo_perso.jpg" %}">
    </div>
    Computer Science student at <a href="http://www.ens-rennes.fr/">ENS Rennes</a>.
    <div class="clearfix"></div>
</section>

    {% for page in pages %}
        {{ page.text }}
    {% endfor %}

{% endblock content %}
