{% extends "base.html" %}

{% block content %}

<section class="container">
    <h5>FTL: Fit The Fittest (2015-2016 Second year student)</h5>
    <p>Based on the Faster Than Light game, the project's goal was to build the most powerful ships. During the
        first semester we (5 people including me) made a fighting engine to automatically play combats between ships.
        Then during the second semester we used genetic algorithms and a bit of data mining to extract the best
        ships or the best equipment. All that was made in Python.</p>
</section>

{% endblock content %}
