{% extends "base.html" %}

{% block content %}

    <section class="container" id="personalinformation">
        <h5>Personal Information</h5>
        <ul>
            <li>French</li>
            <li>English fluent; Korean beginner</li>
        </ul>
    </section>
    <section class="container" id="education">
        <h5>Education</h5>
        <dl>
            <dt><em>2013-2015</em> Bachelor's degree (first two years), Computer Science, First in class,
                Université de Caen</dt>
            <dt><em>2013-present</em> Computer Science studies, École Normale Supérieure de Rennes (~graduate school)
            </dt>
        </dl>
    </section>

{% endblock content %}
