{% extends "base.html" %}

{% block content %}

    <section class="container">
        <a href="/static/simon_bihel_CV.pdf">PDF CV (October 2016)</a>
    </section>

    <section class="container" id="personalinformation">
        <h5>Personal Information</h5>
        <ul>
            <li>French</li>
            <li>English fluent; Korean beginner</li>
        </ul>
    </section>
    <section class="container" id="internships">
        <h5>Internships</h5>
        <ul>
            <li><strong><em>Summer 2016</em></strong> Specifying The Experimental Scenarios For Simulated Cloud
                Studies, at <a href="https://www.irisa.fr/en">Irisa</a> with <a href="http://people.irisa.fr/Martin.Quinson/">Martin Quinson</a> and <a href="http://people.irisa.fr/Anne-Cecile.Orgerie/">Anne-Cécile Orgerie</a>.
                <!--<a href="/static/report_internship_L3.pdf">Report</a> and <a href="/static/slides/slides_internship_L3.html">slides</a>.</li>-->
        </ul>
    </section>
    <section class="container" id="education">
        <h5>Education</h5>
        <ul>
            <li><strong><em>2015-present</em></strong> Advanced undergraduate Computer Science studies, <a href="http://www.ens-rennes.fr/">École Normale Supérieure de Rennes</a> (~graduate school) and <a href="https://international.univ-rennes1.fr/">University of Rennes 1</a>
            </li>
            <li><strong><em>2013-2015</em></strong> Bachelor's degree (first two years), Computer Science, First in class,
                <a href="http://www.unicaen.fr/">Université de Caen</a></li>
        </ul>
    </section>


    {% for page in pages %}
        {{ page.text }}
    {% endfor %}

{% endblock content %}
