<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Simon Bihel's website.</title>
        <!-- Google Fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
        <!-- CSS Reset -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
        <!-- Milligram CSS minified -->
        {% load static %}
        <link rel="stylesheet" href="{% static "milligram/dist/milligram.min.css" %}">

        <link rel="stylesheet" href="{% static "style.css" %}">

        <link rel="shortcut icon" type="image/png" href="{% static "favicon.ico" %}"/>
    </head>

    <body>
        <main class="wrapper">
            <nav class="navigation">
                <section class="container">
                    <a class="navigation-title" href="{% url "common:index" %}">
                        <h1 class="title">Simon Bihel</h1>
                    </a>

                    <ul class="navigation-list float-right">
                        <li class="navigation-item">
                            <a class="navigation-link" href="{% url "common:resume" %}" data-popover>
                                Résumé
                            </a>
                            <div class="popover" id="popover-resume">
                                <ul class="popover-list">
                                    <li class="popover-item">
                                        <a class="popover-link" href="{% url "common:resume" %}#personalinformation"
                                           title="Personal Information">
                                           Personal Information
                                        </a>
                                    </li>
                                    <li class="popover-item">
                                        <a class="popover-link" href="{% url "common:resume" %}#education"
                                           title="Education">
                                            Education
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="navigation-item">
                            <a class="navigation-link" href="{% url "common:projects" %}">
                                Projects
                            </a>
                        </li>
                    </ul>
                </section>
            </nav>

            {% block content %}{% endblock content %}

            <footer class="footer">
                <section class="container" id="links">
                    <div>
                        <a class="button button-clear" href='https://github.com/sbihel'>
                            <img class="link-img" src="{% static "github.png" %}">
                        </a>
                        <a class="button button-clear" href='https://twitter.com/simon_bihel'>
                            <img class="link-img" src="{% static "twitter.png" %}">
                        </a>
                        <a class="button button-clear" href='https://fr.linkedin.com/in/simon-bihel-9b8563b8'>
                            <img class="link-img" src="{% static "linkedin.png" %}">
                        </a>
                    </div>
                    <div><a href="mailto:simon.bihel@ens-rennes.fr">simon.bihel@ens-rennes.fr</a></div>
                </section>

                <section class="container">
                    <p>
                        Made with Django and Milligram. Inspired by Milligram's website. Licensed under the MIT License.
                    </p>
                </section>
            </footer>
        </main>

        <script src="{% static "script.js" %}"></script>
    </body>
</html>
